<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <style>
      img {
        width: 100px;
        border-radius: 250px;
        float: left;
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <a href="index.html">Home Page</a>
    <h2>Jdynasa</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error est
      repellat pariatur quisquam suscipit, sequi voluptate voluptatum, ratione,
      iure consectetur totam quidem atque at laboriosam? Quo officia commodi
      minima doloribus optio dolorem animi perferendis error deleniti! Laborum
      dolores cumque, non aperiam vero cupiditate architecto! Rerum, ab veniam,
      asperiores voluptas expedita natus praesentium sequi corrupti placeat quae
      quos quibusdam amet atque inventore possimus iste porro voluptatibus
      corporis maxime unde, illo labore eligendi. Rem reprehenderit quisquam
      adipisci, quam nostrum, porro esse, harum repellat maxime provident
      eveniet rerum aliquam ullam voluptatem itaque optio? Mollitia nesciunt
      quis unde. Sint illum quisquam dicta ratione accusantium atque laborum sit
      quis. Autem, debitis! Cum magni tenetur quos perspiciatis! Eum, doloribus
      ea. Numquam dolore exercitationem autem molestiae aliquam omnis, eveniet,
      voluptatum repellat labore placeat obcaecati cupiditate porro voluptatibus
      deleniti, doloremque doloribus dolor enim optio. Blanditiis amet dicta
      aliquid ad doloremque officiis et officia cupiditate possimus. Dolorum eum
      necessitatibus eos velit. Expedita eveniet possimus quia accusamus ipsam
      deserunt libero, est aliquam, consectetur tenetur similique reprehenderit
      voluptates at nulla animi accusantium odit nihil iure aliquid harum? Nulla
      laboriosam, pariatur amet natus cupiditate error culpa cumque quo officia
      quas dolores vitae voluptatem obcaecati consequatur, magnam nesciunt ipsa,
      magni optio sed? Iusto totam mollitia quisquam illo ea labore perferendis
      possimus consectetur, expedita, voluptate qui commodi cum iure quaerat
      asperiores sint aliquam hic voluptatum omnis exercitationem quam
      doloremque temporibus saepe. Veritatis repellat dolor accusamus quia
      voluptatem impedit fuga iusto, odio alias numquam dolore totam magni
      cumque vero tempore velit possimus modi quidem deleniti! Deleniti atque
      iusto ratione nisi suscipit amet pariatur beatae perspiciatis quae fugit.
      Ipsa provident non quae tenetur similique voluptatum, quia dignissimos
      deleniti amet earum ea ipsam illo molestiae nisi beatae voluptatem,
      laborum vero? In minus recusandae, quas dolor sed quasi officia qui
      doloribus nisi, labore libero. Autem, aspernatur inventore voluptatibus
      perferendis debitis dolorum delectus adipisci molestiae aliquam amet
      numquam fugiat voluptas eum soluta rem excepturi incidunt suscipit esse
      dicta. Suscipit rerum blanditiis accusamus maxime, consectetur eius
      possimus consequatur unde molestiae quidem pariatur modi natus optio
      explicabo similique mollitia! Officia sint molestiae est saepe quam quo
      itaque ex tempore quaerat culpa? Sequi laboriosam minus aliquid optio
      impedit, a similique eius! Rerum quae non aliquam cum ab quis recusandae
      at fuga animi sunt quisquam est pariatur, veritatis corporis labore
      aperiam iste accusamus alias tempore magni inventore. Distinctio ducimus,
      cumque culpa rerum quae maxime iste provident necessitatibus error nobis
      molestias minus repudiandae explicabo beatae totam, est adipisci, tenetur
      deleniti! Quod vitae aliquam repellat, eaque doloribus quia! Maxime quo
      quaerat assumenda autem non ullam labore cupiditate error at nesciunt vel
      placeat doloribus veniam ratione nam laboriosam dolores tempora
      consequatur voluptatum adipisci perferendis, ab minima dolore quia. Ab
      dicta veniam ducimus fugit necessitatibus tempora adipisci voluptate
      ipsam, quaerat aspernatur natus porro, iusto quisquam, dolore sunt hic
      dolor alias architecto distinctio nihil accusamus eius ipsum iste! Error
      architecto, at totam provident itaque quas tenetur voluptatem. Quo,
      possimus laboriosam fugiat minima corrupti rem inventore nisi iste
      reiciendis, similique velit quidem eos aliquam? Perspiciatis laudantium
      vitae ex necessitatibus!
    </p>
    <a href="mailto:pralhadkardile20@gmail.com">Mail Me</a>
    <h2>Vaibhav</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quas
      tempora delectus rerum deleniti, voluptates praesentium excepturi minima.
      Voluptas, nesciunt iste. Ut ipsum aut animi facere id quo maxime pariatur
      minus inventore ratione voluptas consectetur consequuntur tempora numquam
      nisi quas eum placeat rem veniam totam, autem, quidem reiciendis! Adipisci
      optio nisi nobis quod voluptate sit rem pariatur sed, autem tempora velit
      esse nulla facere rerum, nemo aperiam explicabo repellat ratione
      repudiandae. Iusto, fugiat consequuntur similique beatae officia optio
      explicabo incidunt soluta eum, eligendi distinctio iste sit? Tempora
      numquam tenetur eligendi dolorum consectetur repellendus eveniet ab
      corporis a enim magni dignissimos assumenda ratione delectus, harum
      architecto temporibus, quibusdam nobis esse ex molestiae quae laborum quos
      suscipit! Accusamus assumenda, hic repellat, a necessitatibus minima
      tempora maiores magnam quaerat perferendis recusandae? Aliquid enim quam
      corrupti incidunt culpa? Enim, at. Pariatur eum commodi velit et itaque,
      mollitia nulla vero sed praesentium possimus omnis fugiat reiciendis, quam
      cum doloribus non deleniti quas dicta. Commodi repellendus, ad, aut
      suscipit laborum ducimus repudiandae quod eius voluptatibus pariatur saepe
      inventore aliquid maxime! Cupiditate quibusdam facilis soluta consectetur
      cum, in assumenda qui velit totam autem quo eligendi architecto laboriosam
      iure ipsam tenetur, esse inventore libero numquam molestias doloribus
      nesciunt excepturi ad. Ab est culpa in nulla unde quos id dicta laudantium
      ipsa! Suscipit illum doloremque optio praesentium expedita assumenda,
      animi asperiores voluptates nulla deleniti quaerat culpa facere
      consectetur blanditiis neque odit illo aliquid ratione cum? Unde obcaecati
      culpa numquam consequuntur aspernatur, maiores porro dolorum cum
      voluptate, odit alias omnis perspiciatis beatae ullam repellendus
      recusandae similique quos ea ex eaque voluptatem, eius laborum. Illum ut
      et commodi perferendis ex? Odio eveniet ipsa quod, officia minus deserunt
      sequi autem sint dicta dignissimos laborum, nesciunt fugit consequuntur
      soluta perspiciatis sapiente, quasi ab corporis explicabo architecto?
      Itaque deserunt nam beatae, illum labore iusto ducimus temporibus adipisci
      quos libero officiis eveniet omnis, corporis magnam, mollitia eum
      delectus? Aliquid adipisci ducimus cum aut numquam nemo doloremque
      voluptate libero minus architecto. Ipsa eum, non voluptatem ratione esse
      facilis, maxime, aut aliquid nisi magni repellendus at dolor velit
      voluptatum. Sequi suscipit harum optio, mollitia error minima repellendus
      ab cupiditate amet vero quis quibusdam autem explicabo similique ratione,
      consequatur impedit ullam quod sunt necessitatibus dolore odit est
      laborum. Reiciendis beatae nam, unde placeat quasi a iste eos vitae
      ratione, sequi exercitationem deleniti ipsa iure fugit impedit amet
      expedita delectus voluptas omnis quisquam. Id iusto, ipsum ullam
      aspernatur impedit cum rerum sapiente minus dolor optio aperiam amet
      officia accusamus, quis odio fuga asperiores in repellat voluptates
      tempora, perferendis veniam. Commodi excepturi, consequuntur et sed
      quibusdam, ullam exercitationem sapiente voluptatum quidem magni odio
      pariatur, minus amet cum? Ipsum eos beatae, dolor suscipit omnis corporis
      quos dolorum, esse dicta obcaecati repellendus. Beatae autem tempore
      repudiandae quibusdam! Molestiae, eos ex unde recusandae totam, dicta
      perferendis ratione neque itaque quas quisquam minus hic, soluta libero
      officiis harum vitae. Natus autem quidem dolores, animi nostrum sunt
      dolorem expedita. Ea, odit a ullam aperiam aliquid dolorem ipsam soluta
      nulla nostrum ipsum, dolorum inventore. Sunt, voluptas.
    </p>
    <a href="mailto:pralhadkardile20@gmail.com">Mail Me</a>
    <h2>Pralhad</h2>
    <img src="images/pk.jpg" alt="photo of me" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quidem odio
      quis sapiente doloremque architecto modi nulla enim perspiciatis iure
      praesentium ab voluptatum id aliquid, ad ipsam tempore doloribus eum
      magnam vero minima maxime laborum. Reprehenderit sed excepturi voluptatem
      voluptas quo dolores itaque facere, quam omnis ipsa numquam dicta vel,
      officia sequi aliquid sunt vitae impedit architecto harum? Labore, quos
      commodi molestiae sed error necessitatibus nemo vero veritatis nesciunt
      asperiores sit ullam? Explicabo, unde voluptatem exercitationem ratione
      est, blanditiis veritatis quasi aut hic sapiente quo dolores consequuntur
      maxime, eligendi iste ad placeat. Cupiditate vero quas recusandae dolorem,
      magnam quaerat explicabo labore aperiam autem aut sunt necessitatibus
      voluptatem adipisci sit ratione ducimus dolore alias quibusdam soluta, ad
      a non iusto aliquam. Maxime asperiores atque vel nihil deserunt! Cum
      pariatur voluptas ullam deserunt sapiente, nisi fuga quia temporibus ut
      similique molestias laboriosam. Eaque cumque ipsa exercitationem commodi
      culpa dolor vero. Deserunt, temporibus sapiente? Amet ratione sint quis
      consectetur ipsum aliquid placeat mollitia eveniet doloribus labore
      accusamus sapiente dolorem perferendis, quos blanditiis? Animi sunt
      voluptatibus eveniet atque nobis. Provident sint consectetur tenetur
      obcaecati possimus et fuga quaerat ab id iusto quo, ipsa fugiat placeat
      quia non nam. Totam recusandae necessitatibus dignissimos nemo dicta
      tempora aperiam mollitia, maiores debitis qui laborum similique? Fuga
      perspiciatis voluptatibus ipsa accusamus tempora nesciunt, amet nam
      aliquid eum rem facilis doloremque veritatis eius, esse deleniti enim
      distinctio. Ipsa molestias natus nemo dolore tenetur inventore dolorem
      reiciendis doloremque non necessitatibus. Vero facilis corrupti quia eum
      sapiente eaque. Non consectetur laborum ab quaerat! Optio obcaecati
      excepturi autem tenetur dolores dignissimos quidem aperiam eum architecto
      enim ullam impedit cumque quasi nobis aliquam nisi incidunt doloribus
      dicta porro, explicabo minus quod quam! Optio est ratione fugiat odio aut
      quae cumque magnam veniam, ut officia? A cumque laboriosam, itaque tempora
      culpa natus nobis! Ipsam, repellat iste cupiditate, quae earum sunt quasi
      omnis magni blanditiis, enim dolorem? Beatae porro impedit possimus dolor
      cupiditate deserunt asperiores expedita dolorum magni, necessitatibus
      rerum in repellat iste! Eaque nobis provident excepturi est doloribus
      asperiores, iste dolore et sint ex delectus alias dolorum, nisi, animi
      laudantium vitae natus pariatur! Nostrum mollitia debitis architecto? Sed
      officiis earum ad soluta. Ipsum illo itaque aspernatur. Modi dolore animi
      officiis velit laudantium. Dolorem fugiat natus soluta veniam explicabo
      numquam consequuntur dolore veritatis, minima iusto magni eos labore quod
      pariatur nostrum ratione nihil alias architecto doloribus, eum asperiores
      vero debitis sit rerum? Excepturi quos molestiae repellat iure fugit eius
      sapiente placeat aliquam est. Reiciendis deleniti, natus fugit laboriosam
      unde temporibus pariatur dolore eius voluptate mollitia hic ea et, culpa
      dicta. Libero a quo nam consequatur necessitatibus! Vitae doloribus
      accusamus cum laboriosam eius odio, aliquid laborum porro. Voluptates
      fugiat aut modi esse corrupti, perferendis nemo neque illo ut ipsam in
      provident libero minus enim. Perspiciatis debitis autem cupiditate esse a!
      Ad nesciunt, totam sequi repellendus dolores eaque deserunt, qui rerum ab
      fugit aliquam, ea nihil eligendi expedita in non quis. Esse eligendi
      excepturi tempora quas molestiae magni, nam ex amet sapiente quaerat
      dolorum iusto qui facere?
    </p>
    <a href="mailto:pralhadkardile20@gmail.com">Mail Me</a>
    <a href="#">Jump to Top</a>
  </body>
</html>
